# python & PyCharm specific
__pycache__
.idea/
*.iml
*.log
*/.ipynb_checkpoints/

# project specific
assignments/
Assignment1/output/
Assignment1/properties/properties.yaml
Assignment2/properties/properties.yaml
Assignment2/output/
/Assignment1/Report/
